$prefixCls: 'editor-component';

.#{$prefixCls} {
  height: 100%;

  &__header {
    padding: 0 12px 0 24px;

    .ant-tabs-nav {
      margin-bottom: 0;
    }
  }

  &__code {
    height: calc(100% - 46px);
  }
}