.accordion {
  max-width: 500px;
  background-color: black;

  font-family: system-ui;
  color: white;

  border-bottom: 5px solid limegreen;
  cursor: pointer;

  &-title {
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem;
  }

  &-body {
    padding-inline: 1rem;

    // height: 0;
    // max-height: 0;

    // transition: 250ms height ease;
    // transition: 500ms max-height ease;

    display: grid;
    grid-template-rows: 0fr;
    transition: 250ms grid-template-rows ease;

    &__overflow {
      overflow: hidden;
    }
  }

  &:hover {
    .accordion-body {
      height: auto; // 1. 使用auto时，transition无效
      // max-height: 1000px; // 2.设置一个固定值的max-height: 存在两个问题： a.内容可能溢出；b. 设置max-height越高变换越快，达不到想要的效果
      grid-template-rows: 1fr;
    }
  }
}
